body{
    background-color: #242320;
    margin: 0px;
}


.navbar_menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg-header);
    color:var(--color-text-light-1);
    height: 50px;
    align-items: center;
    padding: 16px;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    cursor: pointer;
}
/* .navbar_menu{
    cursor: pointer;
} */

.head{
    background-color: black;
    color: white;
    padding-left: 35px;
    display: flex;

}

.button{
    margin-left: 400px;

}


.welcome{
    color: white;
    height: 650px;
    background-image: url("images/9.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 80%;
}
.welcome div{
    padding-top: 500px;
    text-align: center;
}

.welcome h1{
    margin-top: 0px;
    padding-top: 5px;
    text-align: center;
}

.main{
    padding-top: 10px;
    background-image: url("images/backorange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    opacity: 80%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.fruit{
    padding : 100px 35px;
    margin: 20px 20px 20px 20px;

}

.fruit span{
    color: rgb(223, 79, 79)
}


.cookie{
    margin: 80px 20px 20px 20px;

    text-align: center;
}

.cookie span{
    color: rgb(218, 171, 19)
}

.coffee{
    text-align: right;
    margin-top: 150px;
    padding-right: 50px;
    padding-bottom: 100px;

}

.coffee span{
    color: brown;
}

.place2{
    padding: 150px 50px 200px 60px; 
    text-align: center;
    height: 20px;
    font-size: 24px;
    background-image: url("images/b14.jpg");
    background-size: 600px;

}

.place p{
    text-align: center;
    padding: 50px
}

footer {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}